* {
  box-sizing: border-box;
}

:root {
  --highlight-color: yellow;
  --lowlight-color: rgb(200, 180, 21);

  --golden_ratio: 1.4180339887;
  --card-width: 16rem;
  --font-size: calc(var(--card-width) * 1 / 16);
  --border: calc(var(--card-width) * 0.03) solid var(--highlight-color);
}
body {
  background-image: url(mat.png);
}
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("bg.png");
  background-size: 200%;
  background-position: 50% 0; /*unique*/

  /* changes bg color set with .card-color classes */
  /* filter: hue-rotate(150deg); */
}
.card {
  /* ⭐️ this forces a new stacking context  */
  /* makes cards not be partially interlinked z-indexwise */
  isolation: isolate;

  /* user cant select text */
  user-select: none;

  z-index: 0;
  position: absolute;

  transition-property: transform;
  transition-duration: 0.1s;
  transform: rotate(15deg);

  font-size: var(--font-size);

  &.grabbed {
    box-shadow: calc(var(--card-width) * 0.01) calc(var(--card-width) * 0.01)
      calc(var(--card-width) * 0.1) calc(var(--card-width) * 0.001)
      rgba(0, 0, 0, 0.424);
  }

  border: var(--border);
  border-image: linear-gradient(
    to right,
    var(--highlight-color),
    var(--lowlight-color)
  ); /*unique*/
  border-image-slice: 1;

  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.367));

  aspect-ratio: 1 / var(--golden_ratio);
  width: var(--card-width);
  /* border-radius: calc( var(--card-width) * 0.5); */
  .top-row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    h3 {
      margin: 0;
    }
    span {
      margin: calc(var(--card-width) * 0.01) 0 0 0;
    }
  }
  .picture {
    aspect-ratio: var(--golden_ratio);
    background-image: url("cat.png");
    background-size: cover;

    border: var(--border);
    border-image: linear-gradient(
      to bottom right,
      var(--highlight-color),
      var(--lowlight-color)
    ); /*unique*/
    border-image-slice: 1;

    width: 90%;
    margin: 0 auto;
    box-shadow: 0.3em 0.1em 0.3em rgba(0, 0, 0, 0.4);
  }
  .info-lines {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 97%;
    margin: 1% auto 0 auto;
    > * {
      height: calc(
        var(--card-width) * 0.2
      ); /*proportinal even tough we change the font-size*/
      border-bottom: solid calc(var(--card-width) * 0.006) black;
    }
  }
  .holder-container {
    display: flex;
    align-items: center;
  }
  .circle-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*this only moves the last circle up if theres three circles */
    :nth-child(3):last-child {
      transform: translate(0, -10%);
    }
    .circle {
      vertical-align: top;
      --darker-color: color-mix(in srgb, var(--main-color) 50%, black);
      background-image: linear-gradient(
        to bottom right,
        var(--main-color),
        var(--darker-color)
      );

      position: relative;
      border-radius: 100%;
      aspect-ratio: 1;
      width: 1.2em; /*need bth if flex-fir changes */
      height: 1.2em;
      .gleam {
        --white: rgba(255, 255, 255, 0.7);
        box-shadow: 0em 0em 0.15em 0.15em var(--white);
        position: absolute;
        top: 25%;
        left: 30%;
        border-radius: 100%;
        aspect-ratio: 1;
        background-color: var(--white);
        height: 0.1em;
      }
      .glyph {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .text-column {
    padding-left: calc(var(--card-width) * 0.02);
    display: flex;
    align-items: center;
    .attack-text {
      font-size: calc(var(--card-width) * 0.05);
      line-height: 100%;
      h4 {
        font-size: calc(var(--card-width) * 0.06);
        display: inline;
        margin-right: 0.5em;
      }
    }
  }
  .right-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(var(--card-width) * 0.1);
  }
}
/*main color*/
.red {
  --main-color: rgb(214, 37, 37);
}
.blue {
  --main-color: rgb(94, 94, 157);
}
.yellow {
  --main-color: yellow;
}
.purple {
  --main-color: rgb(170, 7, 195);
}
.white {
  --main-color: white;
}
.green {
  --main-color: green;
}
.gray {
  --main-color: gray;
}

/*card-bg colors */
.card-yellow {
  filter: hue-rotate(0deg);
}
.card-green {
  filter: hue-rotate(70deg);
}
.card-blue {
  filter: hue-rotate(150deg) brightness(70%);
}
.card-black {
  filter: grayscale(100%) brightness(40%) contrast(120%);
}
.card-brown {
  filter: hue-rotate(20deg) saturate(60%) brightness(70%);
}
.card-purple {
  filter: hue-rotate(220deg) brightness(70%);
}
.card-red{
    filter: hue-rotate(-30deg) brightness(0.7) saturate(200%);
}
